
<div class="category-search">
  <div (click)="categoryBtn.focus()" fxLayout="column">
    <button #categoryBtn type="button" class="category-dropdown" fxFlex="100" [disabled]="disabled"
      md-raised-button color="primary" (focus)="showCategoryOptions = true" (blur)="showCategoryOptions = false">
       <app-icomoon-icon md-list-icon icon="books"></app-icomoon-icon>
      <!-- <md-icon style="padding-right: 5px;">style</md-icon> -->
      Filter {{title}}
    </button>
    <!--   -->
    <div *ngIf="!showCategoryOptions" [class.hand]="!disabled" class="category-tag" md-suffix>
        <app-icomoon-icon md-list-icon *ngIf="selectedCategory?.icon" [icon]="selectedCategory?.icon"></app-icomoon-icon> <span *ngIf="selectedCategory?.name">{{selectedCategory.name}} </span>

    </div>
  </div>
  <md-card [class.hidden]="!showCategoryOptions" class="category-list scrollbar">
      <div>
        <md-list>
          <md-list-item
            [class.selected-item]="!selectedCategory?.id"
            (click)="selectedCategory = allCategory" 
            [title]="hello">
            <app-icomoon-icon md-list-icon [icon]="allCategory.icon"></app-icomoon-icon>
            <h4 md-line>{{allCategory.name}}</h4>
            <p md-line class="giveMeEllipsis">{{allCategory.description}} </p>
          </md-list-item>
          <md-list-item *ngFor="let cat of categories" 
            [class.selected-item]="cat.id == selectedCategory?.id"
            (click)="selectedCategory = cat" 
            [title]="cat.name + ' - ' + cat.description">
            <app-icomoon-icon md-list-icon *ngIf="cat.icon" [icon]="cat.icon"></app-icomoon-icon>
            <h4 md-line>{{cat.name}}</h4>
            <p md-line class="giveMeEllipsis"> {{cat.description}}</p>
          </md-list-item>

        </md-list>
      
      </div>
      </md-card>
  </div>
