<div fxLayout="row"  fxLayoutAlign="center"  fxLayoutWrap="wrap">
  <app-category-search 
    [fxFlex.xs]="getXsFlex()" 
    [fxFlex.sm]="getSmFlex()"
    [fxFlex.md]="getMdFlex()"
    [fxFlex.lg]="getLgFlex()"
    fxFlexAlign="center"
    tier="1" class="category-search"  
    title="Stack"
    [(selectedCategory)]="t1Category"
    (selectedCategoryChange)="selectCategory($event);">
  </app-category-search>

   <!--(onViewInitialized)="getChildCategories(2)"-->
  <app-category-search #categoryTier *ngIf="t1Category.id != undefined"
     [fxFlex.xs]="getXsFlex()" 
    [fxFlex.sm]="getSmFlex()"
    [fxFlex.md]="getMdFlex()"
    [fxFlex.lg]="getLgFlex()"
    title="Context"
    [parentId]="t1Category.id"
    [(selectedCategory)]="t2Category"
    (selectedCategoryChange)="selectCategory($event)"
    tier="2" class="category-search">

  </app-category-search>
  <app-category-search #categoryTier 
    [fxFlex.xs]="getXsFlex()" 
    [fxFlex.sm]="getSmFlex()"
    [fxFlex.md]="getMdFlex()"
    [fxFlex.lg]="getLgFlex()"
    *ngIf="t2Category.id != undefined"
    title="Technology"
    [parentId]="t2Category.id"
    [(selectedCategory)]="t3Category"
    (selectedCategoryChange)="selectCategory($event)"
    tier="3" class="category-search" >

  </app-category-search>
  <app-category-search #categoryTier *ngIf="t3Category.id != undefined"
    [fxFlex.xs]="getXsFlex()" 
    [fxFlex.sm]="getSmFlex()"
    [fxFlex.md]="getMdFlex()"
    [fxFlex.lg]="getLgFlex()"
    title="Area"
    [parentId]="t3Category.id"
    [(selectedCategory)]="t4Category"
    (selectedCategoryChange)="selectCategory($event)"
    tier="4" class="category-search">

  </app-category-search>

</div>
 <!--fxFlex.gt-sm="48" fxFlex.gt-md="24"
fxFlex.gt-sm="48" fxFlex.gt-md="24"
fxFlex.gt-sm="48" fxFlex.gt-md="24"
fxFlex.gt-sm="48" fxFlex.gt-md="24"-->
 <!--fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" fxLayoutGap="20px;"-->
