<div fxLayout="row"  fxLayoutAlign="center"  fxLayoutWrap="wrap">
  

  <!--categorySearchRequired-->
  <app-category-search 
    name="t1Category"
    [fxFlex.xs]="getXsFlex()" 
    [fxFlex.sm]="getSmFlex()"
    [fxFlex.md]="getMdFlex()"
    [fxFlex.lg]="getLgFlex()"
    fxFlexAlign="center"
    tier="1" class="category-search"  
    title="Stack"
    [(ngModel)]="t1Category"
    [shouldGetEmptyCategories]="shouldGetEmptyCategories"
    categorySearchRequired
    (selectedCategoryChange)="selectCategory($event);">
  </app-category-search>
  <!--[required]="required"-->
   <!--(onViewInitialized)="getChildCategories(2)"-->
  <app-category-search #categoryTier [class.hidden]="t1Category?.id != undefined"
    name="t2Category"
     [fxFlex.xs]="getXsFlex()" 
    [fxFlex.sm]="getSmFlex()"
    [fxFlex.md]="getMdFlex()"
    [fxFlex.lg]="getLgFlex()"
    title="Context"
    [parentId]="t1Category?.id"
    [(ngModel)]="t2Category"
    (selectedCategoryChange)="selectCategory($event)"
    [shouldGetEmptyCategories]="shouldGetEmptyCategories"
    categorySearchRequired
    tier="2" class="category-search">

  </app-category-search>
  <app-category-search #categoryTier 
    [fxFlex.xs]="getXsFlex()" 
    [fxFlex.sm]="getSmFlex()"
    [fxFlex.md]="getMdFlex()"
    [fxFlex.lg]="getLgFlex()"
    *ngIf="t2Category?.id != undefined"
    title="Technology"
    [parentId]="t2Category.id"
    [(ngModel)]="t3Category"
    (selectedCategoryChange)="selectCategory($event)"
    [shouldGetEmptyCategories]="shouldGetEmptyCategories"
    tier="3" class="category-search" >

  </app-category-search>
  <app-category-search #categoryTier *ngIf="t3Category?.id != undefined"
    [fxFlex.xs]="getXsFlex()" 
    [fxFlex.sm]="getSmFlex()"
    [fxFlex.md]="getMdFlex()"
    [fxFlex.lg]="getLgFlex()"
    title="Area"
    [parentId]="t3Category.id"
    [(ngModel)]="t4Category"
    (selectedCategoryChange)="selectCategory($event)"
    [shouldGetEmptyCategories]="shouldGetEmptyCategories"
    tier="4" class="category-search">

  </app-category-search>

</div>
 <!--fxFlex.gt-sm="48" fxFlex.gt-md="24"
fxFlex.gt-sm="48" fxFlex.gt-md="24"
fxFlex.gt-sm="48" fxFlex.gt-md="24"
fxFlex.gt-sm="48" fxFlex.gt-md="24"-->
 <!--fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" fxLayoutGap="20px;"-->
