<div class="container">
<div fxlayout="row" fxLayoutAlign="center">
  <h1 color="accent">Submit a new tutorial link</h1>
</div>
<div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-between center" >

  <md-input-container  fxFlex.gt-sm="30">
    <input placeholder="Tutorial Title" mdInput type="text">
  </md-input-container>

  <md-input-container fxFlex.gt-sm="60" >
    <input placeholder="Tutorial Link" mdInput type="url">
  </md-input-container>

</div>

<div fxLayout="column" fxLayoutAlign="stretch">
  <md-input-container>
    <textarea placeholder="Description" mdInput type="text"></textarea>
  </md-input-container>
</div>
</div>