<div class="container">
  {{tutorial | json}}
  <form #tutorialForm="ngForm" (ngSubmit)="saveTutorial(tutorialForm)">
    <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-between center">

      <md-input-container fxFlex.gt-sm="30">
        <input name="title" [(ngModel)]="tutorial.title" placeholder="Tutorial Title" mdInput type="text">
      </md-input-container>

      <md-input-container fxFlex.gt-sm="60">
        <input name="linkUrl" [(ngModel)]="tutorial.linkUrl" placeholder="Tutorial Link" mdInput type="url">
      </md-input-container>
     
        <md-input-container fxFlex.gt-sm="60">
        <input name="image" placeholder="Paste Image" mdInput type="url">
      </md-input-container>

    </div>
    <div fxLayout="row">
      <md-input-container fxFlex="100">
        <textarea name="description" [(ngModel)]="tutorial.description" placeholder="Description" mdInput type="text"></textarea>
      </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        
      <app-category-list 
        shouldGetEmptyCategories="true"
        (t1CategoryChange)="tutorial.tutorialCategories[0].categoryId=$event.id" 
        (t2CategoryChange)="tutorial.tutorialCategories[1].categoryId=$event.id"
        (t3CategoryChange)="tutorial.tutorialCategories[2].categoryId=$event.id" 
        (t4CategoryChange)="tutorial.tutorialCategories[3].categoryId=$event.id">
      </app-category-list>
    </div>
    <div fxLayout="row">
      <button fxFlex="100" md-raised-button color="primary" type="submit">Share</button>
    </div>
  </form>

</div>

<br /><br />
<div fxLayout="row" fxLayoutAlign="center center" (paste)="onImagePaste($event)" style="background-color: red; width: 300px; height: 300px;" >
  <h2 fxFlexAlign="center center">Paste Your Banner Image Here</h2>
</div>
<img *ngIf="bannerImage" [src]="bannerImage">