<md-card class="tutorial-card">
  <md-card-header>
    <md-card-title>
      <h3> {{tutorial.title}}</h3>
    </md-card-title>
    <md-card-subtitle>
      <app-icomoon-icon md-list-icon *ngFor="let tutCat of tutorial.tutorialCategories" [icon]="tutCat.icon"></app-icomoon-icon>
    </md-card-subtitle>
  </md-card-header>
  <img md-card-image [src]="tutorial.imageUrl || defaultImageUrl">
  <md-card-content>
    <div class="description">
      {{tutorial.description}}
    </div>
  </md-card-content>
  <md-card-actions>
    <div fxLayout="column">
        <button type="button" (click)="openTutorialInNewWindow()" md-button>START</button>
         <button type="button" (click)="showDetailsModal()" md-button>EDIT</button>
    </div>
  
   
  </md-card-actions>
</md-card>