.tutorial-card {
    margin: 0px 20px 20px 0px;
}
.description {
    max-height: 100px;
    overflow: hidden;
    text-overflow: clip;
}
/*md-card {
    height: 222px;
}*/

/*.md-card-image {
    position: absolute;
}*/

.img-container {
    max-height: 250px;
    overflow: hidden;
    margin: 0 -24px 16px -24px;
    width: calc(100% + 48px);
    text-align: center;
}

@media (max-width: 600px) {
    .img-container {
        margin: 16px -16px;
        width: calc(100% + 32px);
    }
}

