<md-card style="cursor: pointer;" (click)="openTutorialInNewWindow()" [title]="tutorial.linkUrl" class="tutorial-card">

  <md-card-header>
    <md-card-title class="center-text">
      <h3 [title]="tutorial.title"> {{tutorial.title}}</h3>
    </md-card-title>
    <md-card-subtitle>
       <div fxLayout="row" fxLayoutAlign="space-between center">
         <app-icomoon-icon style="font-size: 25px;" md-list-icon *ngFor="let tutCat of tutorial?.tutorialCategories" [title]="tutCat?.name" [icon]="tutCat?.icon"></app-icomoon-icon>
      </div> 
    </md-card-subtitle>
  </md-card-header>
  <img [default]="defaultImageUrl" class="tutorial-image" md-card-image [src]="tutorial.imageUrl || defaultImageUrl">

  <md-card-content [title]="tutorial.description" class="center-text">
    <div class="description">
      {{tutorial.description}}
    </div>
  </md-card-content>

  <md-card-actions>
    <div fxLayout="column">
      <a (click)="openTutorialInNewWindow()" md-raised-button color="primary">BEGIN</a>
    </div>
  </md-card-actions>

</md-card>