.tutorial-card {
    margin: 0px 20px 20px 0px;
}
.description {
    max-height: 100px;
    overflow: hidden;
    text-overflow: clip;
}
/*md-card {
    height: 222px;
}*/

.md-card-image {
    position: absolute;
}