.tutorial-card {
    margin: 10px 0px;
    
}

.title {
    height: 59px;
    overflow: hidden;
}
.description {
    height: 50px;
    overflow: hidden;
    text-overflow: clip;
}
/*md-card {
    height: 222px;
}*/

/*.md-card-image {
    position: absolute;
}*/
.image-parent {
    overflow: hidden;
    width: 300px;
    //height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    height: 250px;
    width: auto;
    margin: 0 -24px 0px -24px;
}
.tutorial-image {
    height: 100%;
    //width: 100%;
   
    margin: 0 auto;
}

.img-container {
    max-height: 250px;
    overflow: hidden;
    margin: 0 -24px 16px -24px;
    width: calc(100% + 48px);
    text-align: center;
}

@media (max-width: 600px) {
    .img-container {
        margin: 16px -16px;
        width: calc(100% + 32px);
    }
}



