md-list-item {
    cursor: pointer;
}

.category-active {
    background: #ff4081;
    border-radius: 5px;
    color: white;
}

.category-list {
    overflow:auto; 
    height:350px;
    z-index: 1;
}

md-card {
    padding: 10px;
}

md-list md-list-item:hover {
    background-color: rgba(158, 158, 158, 0.2);
}
.first-item {
     background-color: rgba(158, 158, 158, 0.2);
}

.selected-item {
    background-color: rgba(158, 158, 158, 0.4);
}



.giveMeEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 1;        /* fallback */
   max-height: X*N;       /* fallback */
}

md-card {
    position: absolute;
}