md-list-item {
    cursor: pointer;
}

.category-active {
    background: #ff4081;
    border-radius: 5px;
    color: white;
}

.category-list {
    overflow:auto; 
    height:350px;
}

md-card {
    padding: 10px;
}
