<div class="category-search">
  <div>
  <md-input-container dividerColor="warn" fxFlex="100">
    <div *ngIf="!isFocused && selectedCategory && selectedCategory.id != undefined" class="category-tag" md-suffix>
      {{selectedCategory.name}}
      </div>
    <input #categoryInput (focus)="onFocused()" mdInput type="text"
    (keyup.arrowup)="selectCategoryArrow('up')"
    (keyup.arrowdown)="selectCategoryArrow('down')"
    (keyup.enter)="selectCategory('', selectedCategoryIndex); onBlur()"
    (keydown.tab)="selectCategory('', selectedCategoryIndex); onBlur()"
    (blur)="waitForComplete()"
    
    (input)
    ="filterCategories($event.target.value)" [placeholder]="title" />
  </md-input-container>
</div>
<!---->
<md-card *ngIf="isFocused"  class="category-list scrollbar" (blur)="onBlur()" >
  <div id="style-1">
    <md-list>
      <md-list-item *ngIf="categories.length == 0">
          <h4 md-line>Loading Categories...</h4>
          
      </md-list-item>
      <md-list-item *ngFor="let cat of categories; let index=index" 
         [class.first-item]="selectedCategoryIndex == index"
        [class.selected-item]="cat.id == selectedCategory?.id"
        (click)="selectCategory(cat.id, index)" 
        [title]="cat.description">

        <app-icomoon-icon md-list-icon *ngIf="cat.icon" [icon]="cat.icon"></app-icomoon-icon>
        
        <h4 md-line>{{cat.name}}</h4>
        <p md-line class="giveMeEllipsis"> {{cat.description}}</p>
      </md-list-item>

    </md-list>
   
  </div>
  </md-card>
  </div>
