<div>
  <md-input-container fxFlex>
    <div *ngIf="!isFocused && selectedCategory.id" class="category-tag" md-suffix>
      {{selectedCategory.name}}
      </div>
    <input (focus)="onFocused()" mdInput type="text"
    (keyup.arrowup)="selectCategoryArrow('up')"
    (keyup.arrowdown)="selectCategoryArrow('down')"
    (keyup.enter)="selectCategory('', selectedCategoryIndex); onBlur()"
    (keydown.tab)="selectCategory('', selectedCategoryIndex); onBlur()"
    (blur)="waitForComplete()"
    (input)
    ="filterCategories($event.target.value)" [placeholder]="title" />
  </md-input-container>
</div>

<md-card class="category-list scrollbar" *ngIf="isFocused" (blur)="onBlur()" >
  <div id="style-1">
    <md-list>
      <md-list-item *ngIf="categories.length == 0">
          <h4 md-line>Loading Categories...</h4>
          
      </md-list-item>
      <md-list-item *ngFor="let cat of categories; let index=index" 
         [class.first-item]="selectedCategoryIndex == index"
        [class.selected-item]="cat.id == selectedCategory.id"
        (click)="selectCategory(cat.id, index)" 
        [title]="cat.description">
        <i md-list-icon class="fa fa-{{cat.icon}}"></i>
        <!--<md-icon md-list-icon>{{cat.icon}}</md-icon>-->
        <h4 md-line>{{cat.name}}</h4>
        <p md-line class="giveMeEllipsis"> {{cat.description}}</p>
      </md-list-item>

    </md-list>
   
  </div>
   </md-card>
