<h2 class="center-text">
  SkillPath coming soon</h2>

<!--(ngSubmit)="login($event)"-->
<form > 
  <div fxLayout="row" fxLayoutAlign="center" >
    <md-input-container fxFlex="300px">
      <input mdInput name="username" placeholder="Username" [(ngModel)]="username" type="text">
    </md-input-container>
  
   
  </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <md-input-container fxFlex="300px">
            <input mdInput (keyup.enter)="login(null)" name="password" placeholder="Password" [(ngModel)]="password" type="password">
        </md-input-container>
    </div>
</form>