<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"  fxLayoutWrap="wrap">
  <app-category-search class="category-search" fxFlex.gt-sm="48" fxFlex.gt-md="24" ></app-category-search>
  <app-category-search class="category-search" fxFlex.gt-sm="48" fxFlex.gt-md="24" ></app-category-search>
  <app-category-search class="category-search" fxFlex.gt-sm="48" fxFlex.gt-md="24" ></app-category-search>
  <app-category-search class="category-search" fxFlex.gt-sm="48" fxFlex.gt-md="24" ></app-category-search>

</div>
 
 <!--fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" fxLayoutGap="20px;"-->
