<h1 fxLayoutAlign="center">
  Categories {{literally}}</h1>

<h3 fxLayoutAlign="center">Parent Category</h3>

<app-category-dropdown-list
  (ngModelChange)="updateParent($event)"
  showEmptyCategories="true"
  [(ngModel)]="updatingCategories"
></app-category-dropdown-list>
{{categoryToSave | json}}
<h3 fxLayoutAlign="center">Edit Category</h3>
<form *ngIf="categoryToUpdate" (ngSubmit)="updateCategory()">
  <div fxLayoutAlign="center center" fxLayoutGap="10px">
    <md-input-container>
      <input required name="name" [(ngModel)]="categoryToUpdate.name" mdInput placeholder="Name">
    </md-input-container>
    <md-input-container>
      <input required name="description" [(ngModel)]="categoryToUpdate.description" mdInput placeholder="Description">
    </md-input-container>
    <md-input-container>
      <input required name="icon" [(ngModel)]="categoryToUpdate.icon" mdInput placeholder="Icon">
    </md-input-container>
  </div>
  <div fxLayoutAlign="center" fxLayoutGap="10px">
  <button md-raised-button color="primary">Update Category</button>
   <button type="button" (click)="deleteCategory()" md-raised-button color="warn">Delete Category</button>
  </div>
</form>
<h3  fxLayoutAlign="center">Add Child Category</h3>
<form (ngSubmit)="saveCategory()">
  <div fxLayoutAlign="center center" fxLayoutGap="10px">
    <md-input-container>
      <input required name="name" [(ngModel)]="categoryToSave.name" mdInput placeholder="Name">
    </md-input-container>
    <md-input-container>
      <input required name="description" [(ngModel)]="categoryToSave.description" mdInput placeholder="Description">
    </md-input-container>
    <md-input-container>
      <input required name="icon" [(ngModel)]="categoryToSave.icon" mdInput placeholder="Icon">
    </md-input-container>
  </div>
  <div fxLayoutAlign="center">
  <button md-raised-button color="primary">Save Category</button>
  </div>
</form>
<h1 fxLayoutAlign="center">Tutorials</h1>
<app-tutorial-list [tutorials]="tutorials"></app-tutorial-list>
<app-submit-tutorial-form *ngIf="tutorials.length > 0" [tutorial]="tutorials[0]"></app-submit-tutorial-form>