@import 'theme';

.container {
    padding: 20px 30px;
}

.padding-sm-top {
    padding-top: 10px;
} 
.padding-md-top {
    padding-top: 20px;
} 

.center-text {
    text-align: center;
}

.center-item {
    margin: 0 auto;
}

.center-vert {
    display: table-cell;
    vertical-align: middle;
}

.mat-card-header-text {
    width: 100%;
}

body {
    background: $background;
}