<div fxLayout="row" fxLayoutAlign="center" fxLayoutWrap="wrap" >
     <!-- disabled="true" -->
  <app-category-dropdown 
    name="t1Category"
    categorySearchRequired
    autoSelect="Frontend"
 
    fxFlex="300px"
    title="Stack"
    [(ngModel)]="selectedCategories[0]"
    [categories]="t1Categories"
    (ngModelChange)="onCategoryChanged(1, $event)"
  ></app-category-dropdown>

  <app-category-dropdown 
    name="t2Category"
    [class.hidden]="!selectedCategories[0]?.id"
    categorySearchRequired
    autoSelect="Frameworks/Libraries"

    fxFlex="300px"
    title="Context"
    [(ngModel)]="selectedCategories[1]"
    [categories]="t2Categories"
    (ngModelChange)="onCategoryChanged(2, $event)"
  ></app-category-dropdown>

  <app-category-dropdown 
    name="t3Category"
    [class.hidden]="!selectedCategories[1]?.id"
    categorySearchRequired
    autoSelect="Angular 2.x+"

    fxFlex="300px"
    title="Technology"
    [(ngModel)]="selectedCategories[2]"
    [categories]="t3Categories"
    (ngModelChange)="onCategoryChanged(3, $event)"
  ></app-category-dropdown>

  <app-category-dropdown 
    name="t4Category"
    [class.hidden]="!selectedCategories[2]?.id"
    categorySearchRequired
    fxFlex="300px"
    title="Area"
    [(ngModel)]="selectedCategories[3]"
    [categories]="t4Categories"
    (ngModelChange)="onCategoryChanged(4, $event)"
  ></app-category-dropdown>

</div>