
<div fxLayout="row" fxLayoutAlign="center" fxLayoutWrap="wrap" >

  <app-category-dropdown 
    name="t1Category"
    categorySearchRequired
    autoSelect="Frontend"
    disabled="true"
    fxFlex="300px"
    title="Stack"
    [(ngModel)]="t1Category"
    [categories]="t1Categories"
    (ngModelChange)="getChildCategories('t2Categories', $event?.id)"
  ></app-category-dropdown>

  <app-category-dropdown 
    name="t2Category"
    [class.hidden]="!t1Category?.id"
    categorySearchRequired
    autoSelect="Frameworks/Libraries"
    disabled="true"
    fxFlex="300px"
    title="Context"
    [(ngModel)]="t2Category"
    [categories]="t2Categories"
    (ngModelChange)="getChildCategories('t3Categories', $event?.id)"
  ></app-category-dropdown>

  <app-category-dropdown 
    name="t3Category"
    [class.hidden]="!t2Category?.id"
    categorySearchRequired
    autoSelect="Angular 2.x+"
    disabled="true"
    fxFlex="300px"
    title="Technology"
    [(ngModel)]="t3Category"
    [categories]="t3Categories"
    (ngModelChange)="getChildCategories('t4Categories', $event?.id)"
  ></app-category-dropdown>

  <app-category-dropdown 
    name="t4Category"
    [class.hidden]="!t3Category?.id"
    categorySearchRequired
    fxFlex="300px"
    title="Area"
    [(ngModel)]="t4Category"
    [categories]="t4Categories"
  ></app-category-dropdown>

</div>